* {
    font-family:'Montserrat', sans-serif;
    padding:0;
    margin:0;
    list-style:none;
    text-decoration: none;
    border:0;
    box-sizing: border-box;
    }
.hero{
       background: rgb(51,32,105);
        background: radial-gradient(circle, rgba(51,32,105,1) 0%, rgba(88,12,163,1) 100%);

    }

h1, h2, h3, h4, h5, p, span{
    margin: 0;
}
html{
    height: 500vh;
}

/* header color #2e1e5b*/
.container{
    max-width: 1080px;
    margin: auto;
}
.header{
    position: relative;
    width: 100%;
    padding-inline: 15px;
    height: 115px;
    position: fixed;
    background-color:#2e1e5b;
    border-bottom: solid #282b06 0.5px;
    z-index: 100;
    top: 0;
    left: 0;
}
.flex{
    flex-wrap: wrap;
    position: relative;
    height: 120px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
   
}
.logo {
     width: 110px; 
}
.logo img{
    width: 100%;
}
.nav-list{
    position: relative;
    font-weight: 500;
    display: flex;
    gap: 25px;
}
.nav-list li a{
    position: relative;
    color: aliceblue;
}
.nav-menu{
    position: relative;
}

.nav-list li a::after{
    content:" ";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color:rgb(240, 187, 16);
    bottom: -2px;
    left: 0;
    transition: 0.3s ease-in-out;
}
.nav-list li a:hover::after{
    width: 100%;
    color: rgb(240, 187, 16);
}
.btn-link{
    letter-spacing: 0.01em;
    text-align: center;
    font-weight:600;
    padding: 10px;
    background-color: rgb(240, 187, 16);
    color: #25057e;
    font-size: 17px;
    border-radius: 5px;
    transition: .2s;
}
.btn-link:hover{
    letter-spacing: 0.05em;
    transition: 0.2s;
    background: var(--clr); 
    background-color: #ffd95af5;
    box-shadow: 0 0 5px var(--clr);
}

.btn-contato a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 6px;
}
.btn-link i{
     font-size: 23px;    
     color: #088619;
}
.btn-mobile {
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    margin: 5px auto; 
    background-color: #fffffff5;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 924px) {
    .header{
        height: 160px ;
    }
    .nav-list{
        display: none;
    }
    .flex{
        flex-wrap: nowrap;
        height: 160px;
        align-items: center;
        justify-content:space-around;
    }
    .btn-contato{
        margin-right: 80px;
    }
    .btn-mobile{
        display: block;
        font-size: 30px; 
    }
    .btn-mobile.active .bar:nth-child(2){
      opacity: 0;
    }
    .btn-mobile.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg); 
    }
    .btn-mobile.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
    .nav-list{
        display: block;
        position: fixed;
        left: -100%;
        top: 150px;
        gap: 3px;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        background-color:#2e1e5b;
    }
    .nav-list li{
        margin: 16px 0;
    }
    .nav-list.active{
        left: 0;
    }
}

